body {
    font-family: sans-serif;
    margin: 0;
    background: white;
}

.heading {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    z-index: 500;    
}

.logo {
    flex: none;
}

.logo img {
    float: left;
    height: 100%
}

.header {
    text-align: center;
    vertical-align: text-top;
    flex-grow: 1;
    overflow: hidden;
}

.header b {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

.navbar {
    overflow: hidden;
    flex: none;
}

.logo,
.header,
.navbar {
    height: 40px;
    background: rgb(8, 94, 94);
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    background: whitesmoke;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
    background: darkgray;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.sidenav .closebtn {
    float: right;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.main {
    margin-top: 40px;
    height: 1024px;
    display: grid;
    grid-template-rows: "400px auto 4px";
    grid-template-columns: "20% 30% 20% 15% 15%";
    grid-template-areas: "map map map chrt chrt"
                         " cnf cnf dth rcv act"
                         " cdl cdl ddl rdl adl"
                         " ftr ftr ftr ftr ftr";
}

.map-container {
    background: lightyellow;
    grid-area:  map;
    margin: 4px 4px;
    background: transparent;
}

.map {
    min-width: 720px;
    min-height: 400px;
    height: 100%;
    border-radius: 10px;
}

.chart-container {
    background: lightgoldenrodyellow;
    grid-area: chrt;
    margin: 4px 4px;
    border-radius: 10px;
}

.confirmed-summary,
.confirmed-details {
    color: white;
    background: orangered;
    grid-area: cnf;
}

.confirmed-summary {
    grid-area: cnf;
}
.confirmed-details {
    grid-area: cdl;
}

.deaths-summary,
.deaths-details {
    color: white;
    background: red;
}

.deaths-summary {
    grid-area: dth;
}
.deaths-details {
    grid-area: ddl;
}

.recovered-summary,
.recovered-details {
    color: white;
    background: green;
    grid-area: rcv;
}

.recovered-summary {
    grid-area: rcv;
}
.recovered-details {
    grid-area: rdl;
}

.active-summary,
.active-details {
    color: white;
    background: blue;
}

.active-summary {
    grid-area: act;
}
.active-details {
    grid-area: adl;
}

.confirmed-summary,
.deaths-summary,
.recovered-summary,
.active-summary {
    margin: 4px 4px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.confirmed-summary:hover,
.deaths-summary:hover,
.recovered-summary:hover,
.active-summary:hover {
    transform: translateY(-3px) scale(1.1);
}

.confirmed-details,
.deaths-details,
.recovered-details,
.active-details {
    border-radius: 10px;
    margin: 4px 4px;
    display: flex;
    flex-direction: column;
}

.confirmed-details a,
.deaths-details a,
.recovered-details a,
.active-details a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.confirmed-details a:hover {
    background: rgb(226, 61, 1);
    border-radius: 5px;
}

.deaths-details a:hover {
    background: rgb(212, 1, 1);
    border-radius: 5px;
}
.recovered-details a:hover {
    background: rgb(1, 102, 1);
    border-radius: 5px;
}
.active-details a:hover {
    background: rgb(2, 2, 211);
    border-radius: 5px;
}

.cases-by-country-header {
    font-size: 2.3rem;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
}

.cases-by-country-item {
    font-size: 1.8rem;
    margin: 2px 4px;
    text-align: left;
    cursor: pointer;
    background: transparent;
}

.line-chart {
    margin: 0 0;
    padding: 0 0;
}

.line-chart-canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    min-width: 120px;
    height: 400px;
}

@media screen and (min-width: 800px) {
    .chart-container div:first-child {
        max-width: 100%;
        max-height: 100%;
        float: inherit;
    }
}

footer {
    display: inline-block;
    height: 40px;
    color: white;
    background: black;
    grid-area: ftr;
}

footer p {
    float: left;
}
footer a {
    color: inherit;
    text-decoration: none;
}

.spinner {
    position: absolute;
    top: 30%;
    left: 20%;

    width: 120px;
    height: 120px;
    margin-left: -50px;
    margin-top: -30px;
    background-size: 100%;

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(238, 91, 22);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
