.top-nav {
  background: rgb(8, 94, 94);
  margin: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  height: 40px;
}

.top-nav h1 {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
  text-align: left;
  flex-grow: 1;
  margin-left: 10px;
}

.top-nav a {
  float: right;
  text-decoration: none;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  font-size: 18px;
  flex-grow: none;
}

.top-nav a:hover {
  background: #ddd;
  color: black;
}

.news-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  margin-top: calc(40px + 1.5rem);
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
    font-size: 2rem;
  }

  .card-wide {
    grid-column: span 2 / auto;
    font-size: 2rem;
  }
}

.spinner {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}