body {
  background-image: linear-gradient(-90deg, yellow, rgb(8, 94, 94));
  font-family: sans-serif;
}

.top__nav {
  background: rgb(8, 94, 94);
  margin: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  height: 40px;
}

.top__nav h1 {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
  text-align: left;
  flex-grow: 1;
}

.top__nav a {
  float: right;
  text-decoration: none;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  font-size: 18px;
  flex-grow: none;
}

.top__nav a:hover {
  background: #ddd;
  color: black;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
  gap: 1rem;
  margin-top: calc(40px + 1.5rem);
}

.bchart__confirmed,
.bchart__deaths,
.lchart__confirmed,
.lchart__deaths,
.lchart__confirmed_new,
.lchart__deaths_new {
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
}
