<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>COVID-19 News</title>
        <style>
            @import url("static/css/news-grid.css");
        </style>
    </head>

    <body>
        <div class="top__nav">
            <h1>Latest Corona Virus News<h1></h1>
            <a id="nav-covid19"">&#9782; Home</a>
        </div>

        <div id="news-articles" class="news__grid">
        </div>

        <script src="static/src/config.js"></script>
        <script src="static/src/news-grid.js"></script>        
    </body>
</html>
