<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nCoVid19</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin="">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/main.css" />
    <script src="./static/cases/js/cases.js"></script>
    <script src="./static/map/js/ncov19_map.js"></script>
    <script src="./static/time_series/js/time_series.js"></script>
</head>

<body>
    <header>
        <img src="static/images/logo.ico">
        <h1>COVID-19 Tracker</h1>
    </header>

    <div class="div-main">
        <div id="div-map" class="div-map">
        </div>
    </div>

    <div class="div-timeseries">
        <div id="chart-div" class="chart-control">
            <canvas id="timeseries-canvas" class="chart-canvas"></canvas>
        </div>
    </div>

    <div id="confirmed-cases" class="div-confirmed">
        <h2></h2>
    </div>

    <div id="death-cases" class="div-deaths">
        <h2></h2>
    </div>

    <div id="recovered-cases" class="div-recovered">
        <h2></h2>
    </div>

    <div id="active-cases" class="div-active">
        <h2></h2>
    </div>

    <footer>
        <p>Source of data: <a href="https://github.com/CSSEGISandData/COVID-19">https://github.com/CSSEGISandData/COVID-19</a></p>
    </footer>

    <script>
        document.body.onload = async () => {
            initMap()
            initChart()
            initCases()
        }
    </script>
</body>

</html>