<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>COVID-19 Tracker</title>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin="">
            </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

        <link rel="stylesheet" type="text/css" href="static/css/main_new.css" />

    </head>

    <body>

        <div class="flex-container">
            <div class="logo">
                <img src="static/images/logo.ico" alt="COVID-19 Tracker Logo">
            </div>

            <div class="header">
                <b>COVID-19 Tracker</b>
            </div>

            <div class="navbar">
                <a id="navbar-country" href="javascript:void(0)">&#9776; Country</a>
            </div>
        </div>

        <div id="sidebar" class="sidenav">
            <a id= "sidebar-closebtn" href="javascript:void(0)" class="closebtn">&times;</a>
        </div>

        <div class="main">
            <div class="map-container">
                <div id="map-div" class="map">
                </div>
            </div>

            <div class="chart-container">
                <div class="chart">
                    <canvas id="line-chart" class="chart-canvas"></canvas>
                </div>
            </div>

            <div id="confirmed-cases" class="confirmed">
            </div>

            <div id="deaths-cases" class="deaths">
            </div>

            <div id="recovered-cases" class="recovered">
            </div>

            <div id="active-cases" class="active">
            </div>

            <footer>
            </footer>
        </div>

        <script src="static/src/main.js"></script>
    </body>

</html>
