<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin="">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <style>
        @import url('static/css/states_case.css');
    </style>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo"></div>

            <div class="title">
                <h1>COVID-19 US Cases by State</h1>
            </div>

            <div class="nav">
                <div></div>
                <div></div>
                <button id="nav__home">&#9782; Home</button>
            </div>
        </header>
        <div class="content">
            <div class="tab__nav">
                <button id="tab__nav_states">States</button>
                <button id="tab__nav_cases">Cases</button>
                <button id="tab__nav_cases_new">New Cases</button>
                <button id="tab__nav_counties">Counties</button>
                <button id="tab__nav_map">Map</button>
            </div>
            <div class="tabs">
                <div id="tab__states" class="tab__content">
                    <div class="chart__container ">
                        <div class="chart">
                            <canvas class="bchart__canvas_confirmed"></canvas>
                        </div>
                        <div class="chart">
                            <canvas class="bchart__canvas_deaths"></canvas>
                        </div>
                    </div>
                </div>
                <div id="tab__cases" class="tab__content">
                    <div class="chart__container ">
                        <div class="chart">
                            <canvas class="lchart__canvas_confirmed"></canvas>
                        </div>
                        <div class="chart">
                            <canvas class="lchart__canvas_deaths"></canvas>
                        </div>
                    </div>
                </div>
                <div id="tab__new_cases" class="tab__content">
                    <div class="chart__container ">
                        <div class="chart">
                            <canvas class="lchart__canvas_confirmed_new"></canvas>
                        </div>
                        <div class="chart">
                            <canvas class="lchart__canvas_deaths_new"></canvas>
                        </div>
                    </div>
                </div>
                <div id="tab__counties" class="tab__content">
                    <div class="chart__container ">
                        <div class="chart">
                            <canvas class="pchart__canvas_confirmed"></canvas>
                        </div>
                        <div class="chart">
                            <canvas class="pchart__canvas_deaths"></canvas>
                        </div>
                    </div>
                </div>
                <div id="tab__map" class="tab__content">
                    <div class="map__container ">
                        <div class="map">
                            <canvas class="map__canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="static/src/config.js"></script>
    <script src="static/src/covid19_by_state.js"></script>
</body>

</html>